//COLORS

$color-primary: #90a0d9;
$color-primary-dark: #7f8ec5;
$color-background: #23283e;
$color-background-dark: #2a2f4c;
$color-background-light: #394067;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$tags-color: #b3b3fc;
// COLOR FOR TOUCHING DEVICES
//FONT
$default-font-color: #cdcdff;
$default-font-family: 'Poppins', sans-serif;
$default-font-size: 1.6rem;

//GRID
