.btn {
  text-decoration: none;
  border: 1px solid $color-primary;

  color: $color-primary;
  padding: 2.38rem 2.04rem;
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    transparent 50%,
    $color-primary 50%
  );
  background-size: 220%;
  transition: all 0.25s ease-out;
  &:hover {
    background-position: 100%;
    color: $color-background;
  }
  &:active {
    background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      $color-primary-dark 50%
    );
  }
  @media only screen and (max-width: 50em), only screen and (hover: none) {
    background-image: none;
    background-color: $color-primary;
    background-size: auto;
    color: $color-background;
    &:hover {
      background-position: auto;
      background-color: $color-primary-dark;
    }
    &:active {
      background-image: none;
      background-color: rgba($color-primary-dark, 0.85);
    }
  }
  &--project {
    padding: 0.78rem 1.64rem;
  }
  &--contact {
    padding: 1.38rem 2.04rem;
  }
}
