.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 5rem;
}
.u-margin-bottom-very-big {
  margin-bottom: 9rem;
  @include respond(wide-mobile) {
    margin-bottom: 7rem;
  }
}
.u-margin-bottom-huge {
  margin-bottom: 12rem;
}
.u-margin-top-small {
  margin-top: 1.92rem;
}
.u-margin-top-medium {
  margin-top: 3.84rem;
}
.u-margin-top-big {
  margin-top: 5rem;
}
.u-margin-top-very-big {
  margin-top: 7rem;
}
.u-margin-bottom-huge {
  margin-bottom: 12rem;
}

.inline-block {
  display: inline-block;
}
